<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.jsone.approval.dto.LoginDTO" alias="login"></typeAlias>
        <typeAlias type="com.jsone.approval.dto.CustDTO" alias="customer"></typeAlias>
        <typeAlias type="com.jsone.approval.dto.UserDTO" alias="user"></typeAlias>
        <typeAlias type="com.jsone.approval.dto.ListDTO" alias="sign"></typeAlias>
        <typeAlias type="com.jsone.approval.dto.ViewDTO" alias="view"></typeAlias>
        <typeAlias type="com.jsone.approval.dto.ChatDTO" alias="chat"></typeAlias>
        <typeAlias type="com.jsone.approval.dto.ChatAjaxDTO" alias="chatAjax"></typeAlias>
        <typeAlias type="com.jsone.approval.dto.ApproverDTO" alias="approver"></typeAlias>
        <typeAlias type="com.jsone.approval.dto.SubCntDTO" alias="subCnt"></typeAlias>
        <typeAlias type="com.jsone.approval.dto.FileDTO" alias="file"></typeAlias>
    </typeAliases>
</configuration>