<html xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/default_layout">
    <div layout:fragment="content">
        <div class="wrapper">
            <div id="dashboard">
                <div class="dashboard-body">
                    <div class="btn-box">
                        <div class="approval-box bg-blue1">
                            <span>전자결재</span>
                            <span class="count-area"></span>
                        </div>
                        <div class="approval-box bg-blue2">
                            <span>결재문서</span>
                            <span class="count-area"></span>
                        </div>
                    </div>
                    <div class="btn-box">
                        <div class="approval-box bg-blue3">
                            <span>공람확인</span>
                            <span class="count-area"></span>
                        </div>
                        <div class="approval-box bg-blue4">
                            <span>공람문서</span>
                            <span class="count-area"></span>
                        </div>
                    </div>
                    <div class="btn-box">
                        <div class="approval-box bg-blue5">
                            <span>개인서류</span>
                            <span class="count-area"></span>
                        </div>
                        <div class="approval-box bg-blue6">
                            <span>진행서류</span>
                            <span class="count-area"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>