<html xmlns:th="http//www.thymeleaf.org">
    <head>
        <title>서류보기</title>
        <div th:replace="~{fragments/header::header}"></div>
        <script th:src="@{/js/view.js}"></script>
    </head>
    <div class="wrapper">
        <div class="view-head">
            <h1>서류보기</h1>
            <span class="btn-close"></span>
        </div>
        <div id="view">
            <div class="view-body">
                <div class="body-top">
                    <button type="button" class="btn secondary approval">
                        <span class="btn-txt">결재</span>
                        <span><i class="fa-solid fa-chevron-down"></i></span>
                    </button>
                    <button type="button" class="btn secondary announcement">
                        <span class="btn-txt">공람</span>
                        <span><i class="fa-solid fa-chevron-down"></i></span>
                    </button>
                    <button type="button" class="btn primary">회수</button>
                </div>
                <div class="approval-toggle toggle-box">
                    <span class="title">
                        <span class="title-txt">결재</span>
                        <span class="title-icon"><i class="fa-solid fa-chevron-down"></i></span>
                    </span>
                    <div th:if="!${#lists.isEmpty(approver)}" th:each="list: ${approver}">
                        <div>
                            <span th:text="${list.emp_nm}"></span>
                            <span class="check" th:classappend="!${#lists.isEmpty(docApprover)} and ${#lists.contains(docApprover, list.empid)} ? '' : 'gray-txt'"><i class="fa-regular fa-square-check fa-lg"></i></span>
                        </div>
                    </div>
                </div>
                <div class="announcement-toggle toggle-box">
                    <span class="title">
                        <span class="title-txt">공람(모든 공람 선택/해제)</span>
                        <span class="title-icon"><i class="fa-solid fa-chevron-down"></i></span>
                    </span>
                    <div th:if="!${#lists.isEmpty(viewer)}" th:each="view: ${viewer}">
                        <div>
                            <span th:text="${view.emp_nm}"></span>
                            <span class="check" th:classappend="!${#lists.isEmpty(docViewer)} and ${#lists.contains(docViewer, view.empid)} ? '' : 'gray-txt'"><i class="fa-regular fa-square-check fa-lg"></i></span>
                        </div>
                    </div>
                </div>
                <div class="body-middle">
                    <div class="info-box">
                        <span class="title">[[${view.title}]]</span>
                        <div class="info">
                            <div>
                                <span class="text-title">문서번호</span>
                                <span>[[${view.doc_num}]]</span>
                            </div>
                            <div>
                                <span class="text-title">작성일자</span>
                                <span>[[${view.create_date}]]</span>
                            </div>
                            <div>
                                <span class="text-title">작성자</span>
                                <span>[[${view.emp_nm}]]</span>
                            </div>
                            <div>
                                <span class="text-title">문서종류</span>
                                <span class="half-width">[[${view.type_cd}]]</span>
                                <span class="text-title">문서상태</span>
                                <span>[[${view.status_cd}]]</span>
                            </div>
                            <div>
                                <span class="text-title">반려</span>
                                <span class="yellow-txt">[[${view.reference_id}]]</span>
                            </div>
                            <div>
                                <span class="text-title">문서번호</span>
                                <span class="green-txt">[[${view.doc_num}]]</span>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <span>내용</span>
                        <div>
                            [(${view.contents})]
                        </div>
                    </div>
                    <div class="comments">
                        <span>대화</span>
                        <div class="comment-list">
                            <div th:if="!${#lists.isEmpty(chatList)}" th:classappend="${list.emp_nm} != ${name} ? 'bg-gray1 left' : 'bg-yellow right'" th:each="list: ${chatList}" class="comment">
                                <div class="chat-user">
                                    <span th:text="${list.emp_nm}"></span>
                                </div>
                                <div class="chat-contents">
                                    <span th:text="${list.contents}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="chat-form">
                            <form id="saveChat">
                                <input type="hidden" id="docid" th:value="${docid}"/>
                                <input type="hidden" id="empid" th:value="${empid}"/>
                                <input type="text" class="input-text s" id="chatContents" />
                                <button type="button" id="saveChat_submit" class="btn secondary">전송</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>